<html xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
 <head th:include="layout :: htmlhead"  th:with=" title='index'">
 </head>
<body class=" theme-blue">
	<div th:replace="layout :: navbar">(navbar)</div>
    <span style="color: #3498db;padding-left:10px;font-size: 20px; ">chart-tool</span><br/>   <hr/>
    
    <div style="padding-left: 10px;">
		<div id="div_msgzone" class="panel panel-default" style=" width: 30%; height:50%;">
			<div class="panel-heading">消息窗口</div>
			<div id="div_msg" class="panel-body"></div>
		</div>
	
	<div class="zone_send">
		<textarea id="inp_send" class="form-control" style=" width: 30%; height:10%;" placeholder="发送的内容"></textarea>
		<br>
		<button type="button" id="btn_send" class="btn btn-default" onclick="sendto();">发送（ctrl+回车）</button>
	</div>
	</div>	
</body>

<script type="text/javascript">
	var socket;  
	if(typeof(WebSocket) == "undefined") {  
	    console.log("浏览器似乎不支持这个功能、换一个试试");  
	}else{  
	    console.log("您的浏览器支持chart_tool");
	    socket = new WebSocket("ws://localhost:8055/chart/websocket");  
        //打开事件  
        socket.onopen = function() {  
            console.log("Socket 已打开");  
            //socket.send("这是来自客户端的消息" + location.href + new Date());  
        };  
        //获得消息事件  
        socket.onmessage = function(msg) { 
        	console.log("收到服务端消息>>>")
        	console.log(msg);  
        	var msgJson = JSON.parse(msg.data);
        	console.log(msgJson);
        	$("#div_msg").append(msgJson.time+":");
        	$("#div_msg").append('<br/>');
        	$("#div_msg").append(msgJson.content);
        	$("#div_msg").append('<br/>');
        	$('#inp_send').val('');
            //发现消息进入    调后台获取  
            //getCallingList();  	  
        };  
        //关闭事件  
        socket.onclose = function() {  
            console.log("Socket已关闭");  
        };  
        //发生了错误事件  
        socket.onerror = function() {  
            console.log("Socket发生了错误");  
        } 
        
      	//发送消息
        function sendto(){
            var message = $('#inp_send').val();
            socket.send(message);
        }
      	
      	function test(){
            $.ajax({
                type: "GET",
                url: rootPath+"quartz/send",
                success: function(data){
                }
            });      		
      	}
      
        $(window).onbeforeunload = function(event) {
            alert("关闭WebSocket连接！");
            socket.close();
        }
        $(window).unload(function(){ 
        	 alert("页面关闭、关闭WebSocket连接！");
             socket.close();  
        }); 
	}
</script>
</html>